/* 

    Theme Name : GTcoding
    Author : Mostafa Mahfouz
    Description : Learning WordPress 
    Info : First Website Using WordPress
    Version : 1.0


*/


body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

h1 {
    padding: 8px;
    border-radius: 8px;
    background-color: rgba(255, 0, 0, 0.8);
    margin: 0;
    font-size: 64px;
    font-family: 'Roboto Slab', sans-serif;
}

p {
    line-height: 1.5;
}


/* main */


/* inputs */

input,
textarea {
    height: 48px;
    padding: 0 16px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    border: none;
    box-shadow: inset 8px 3px 18px -4px rgba(0, 0, 0, 0.5);
}

input:focus {
    outline: none;
}


/* link */

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
}


/* start main */

main {
    margin: 0 auto;
    margin-top: 100px;
}

#banner {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.2) url(img/3.jpg);
    background-position: center;
    background-attachment: fixed;
    background-blend-mode: overlay;
    color: white;
}

#banner h3 {
    background-color: black;
    border-radius: 8px;
    padding: 15px 24px;
    font-size: 24px;
}

#search-box {
    position: absolute;
    top: 24px;
    right: 35px;
    width: 500px;
    pointer-events: none;
    z-index: 50;
    transition: 0.4s;
    /* display: none; */
}

#search-box input {
    height: 48px;
    width: 100%;
}


/* navigation  */

nav {
    height: 72px;
    background: #202125;
    width: 100%;
    margin: 0;
    position: fixed;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    padding: 0 16px 0 0;
    box-sizing: border-box;
    z-index: 100;
    top: 0;
}

nav a {
    padding: 0 32px;
    color: #eee;
    transition: 0.4s;
}

nav a:hover {
    text-decoration: none;
    color: red;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    margin: 0;
}

nav ul li .active {
    color: red;
}

#logo-img {
    height: 100%;
    display: flex;
    background: #111;
    padding: 0 32px;
    align-items: center;
    color: white;
    transition: 0.4s;
}

#logo-img img {
    height: 60px;
    ;
}

#menu-icon {
    height: 100%;
    font-size: 28px;
    padding: 0 4px;
    color: #eee;
    display: none;
    align-items: center;
}

#search-icon {
    color: white;
    padding: 0 32px;
    cursor: pointer;
    transition: 0.4s;
}

#search-icon:hover {
    color: red;
}


/* slide oute menu  */

#slideoute-menu {
    display: none;
    opacity: 0;
}



.content 
{
    border: 1px solid #222;
    padding: 10px;
    background-color: #ccc;
}

.card-bout p 
{
    text-align: justify;
    padding: 8px;
}

/* sections */

section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.section-heading {
    font-size: 32px;
    font-family: 'Roboto Condensed', sans-serif;
    border-left: 3px solid #222;
    border-right: 3px solid #222;
    transition: 0.4s;
    display: inline-block;
    padding: 4px 32px;
}

.section-heading:hover {
    color: red;
    background-color: black;
}


/* source section  */

#source-section p {
    padding: 8px;
    text-align: center;
}

#source-section a {
    margin: 8px;
    text-align: center;
}


/* Card */

.card-img {
    transition: 0.4s;
}

.card-img:hover {
    box-shadow: 0 10px 6px -6px #777;
}

.card-img img {
    max-width: 100%;
}

.card-description {
    padding: 0 8px;
}

.btn-readmore {
    padding: 8px 24px;
    border: 3px solid black;
    display: inline-block;
    transition: 0.4s;
    margin: 10px 24px;
    font-weight: bold;
    cursor: pointer;
}

.btn-readmore:hover {
    padding: 8px 64px;
    text-decoration: none;
    background-color: red;
    color: white;
}


.pagination
{
    text-align: center;
    padding: 20px;
}
.pagination a
{
    border: 1px solid #ddd;
    padding: 7px;
    margin-right: 5px;
}
.pagination a.active 
{
    background-color: #222;
    color: #fff;
}
/* footer */

footer {
    background-color: black;
    padding: 8px;
    color: #eee;
    display: flex;
}

footer a {
    color: white;
}

footer #left-footer {
    flex: 1;
    border-right: 1px solid red;
    padding-left: 32px;
}

footer #left-footer ul {
    line-height: 1.5;
    padding: 0;
    list-style: none;
}

footer #right-footer {
    flex: 2;
    padding: 8px;
    text-align: center;
}

#social-media-footer {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

#social-media-footer li a {
    font-size: 40px;
    padding: 16px;
    transition: 0.4s;
}

#social-media-footer li a:hover {
    color: red;
}


/* projects  */

.page-heading {
    margin-top: 0;
    border-left: 3px solid #202125;
    display: inline-block;
    border-bottom: 3px solid #202125;
    transition: 0.5s;
    padding: 8px;
}
.page-heading:hover
{
    background-color: red;
    color: #fff;
    padding-left: 16px;
}

/* media qyery */

@media (max-width:900px) {
    nav ul {
        display: none;
    }
    #menu-icon {
        display: flex;
        cursor: pointer;
    }
    #slideoute-menu {
        display: block;
        position: fixed;
        margin-top: 72px;
        z-index: 100;
        text-align: center;
        transition: 0.4s;
        width: 100%;
        background-color: #202125;
        border-top: 1px solid #fff;
    }
    #slideoute-menu ul {
        list-style: none;
        padding: 0 32px;
    }
    #slideoute-menu ul li {
        padding: 8px;
    }
    #slideoute-menu ul li a {
        color: #fff;
        font-size: 20px;
        transition: 0.4s;
    }
    #slideoute-menu ul li a:hover {
        color: red;
    }
    #slideoute-menu input {
        width: 85%;
        text-align: center;
        padding: 2px;
        font-size: 20px;
    }
}

@media (max-width:719px) {
    main {
        width: 95%;
    }
    .card,
    .card-img img {
        width: 100%;
    }
    footer {
        flex-direction: column;
        text-align: center;
    }
    footer #left-footer {
        flex: 1;
        border-right: 0;
        border-left: 0;
    }
    footer #left-footer li {
        padding: 6px;
    }
    footer #left-footer li a {
        transition: 0.4s;
    }
    footer #left-footer li a:hover {
        color: red;
    }
    footer #right-footer {
        background-color: #eee;
        color: black;
    }
    footer #right-footer a {
        color: black;
    }
}

@media (max-width:600px) {
    main {
        width: 100%;
    }
    h1 {
        font-size: 48px;
    }
    #banner h3 {
        font-size: 16px;
    }
}

@media (min-width:720px) {
    main {
        width: 95%;
    }
    .card {
        width: 45%;
    }
    .card-img img {
        width: 100%;
    }
}

@media (min-width:1200px) {
    main {
        width: 85%;
    }
}